*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(img/patt.png);
    /* background-repeat: no-repeat; */
    /* background-position: 10px 40px; */
}


/* Container */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:after {
    content: "";
    display: block;
    clear: both;
}

/* --------------- */
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after { 
    content: " ";
    display: block; 
    clear: both;
}
.menu:after{
    content: " ";
    display: block; 
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
/* Розбивка блоків */
.col-md-3{
    width: 25%;
}
.col-md-4 {
    width: 33.3%;
}
.col-md-6{
    width: 50%;
}
.col-md-8 {
    width: 66.6%;
}
.col-md-9 {
    width: 75%;
}
.col-md-12 {
    width: 100%;
}
/* -------------------- */
/* Header */
.header{
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}
/* --------------------- */
.logo{
margin-top: 7px;
}

.menu > li{
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
/* config for a */
.menu > li > a{
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    font-size: 21px;
    color: #2c71b8;
}

.sub__menu li a {
    position: relative;
    left: -1px;
    background-color: #2c71b8;
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    line-height: 20px;
    font-weight: 100;
    font-size: 21px;
    z-index: 10;
}
/* ----------------- */
/* Hover */
.menu > li > a:hover{
    background-color:#2c71b8;
    color: white;
}
.menu li:hover .sub__menu {
    display: block;
    
}
.sub__menu li a:hover {
    background-color: white;
    color: #2c71b8 ;
} 
.sub__menu> li:hover>span {
    display: block;
}
.menu > li:hover > a {
    background-color: #2c71b8;
    color: white;
}
/* ------------------ */
/* Search */
.form-search{
    display: block;
    border: 1px solid #2c71b8;
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.search {
    position: relative;
    top: -11px;
    width: 150px;
    height: 30px;
    border: none; 
    outline: none;
    background: none;
}
/* ------------------- */
/* button */

.button {
    margin-top: 4px;
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color:#2c71b8 ;
}
/* ------------------- */
.sub__menu {
    position: absolute;
    display: none;
}

.menu img{
    position: relative;
    left: 5px;
}

.cart {
    background-image: url(img/icon\ \(1\).png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-color: white;
    background-position: center;
    position: relative;
}
.cart:hover {
    background-image: url(img/icon\ \(2\).png);
    background-color: #2c71b8;
}
.product-count {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #2c71b8;
    top: -10px;
    left: -10px;
    color: #fff;
    display: block;
    line-height: 20px;
    font-size: 9px;
}

/* -------Main-------- */
.lat {
    font-size: 48px;
    color: white;
}
.product-title {
    color: #fff;
    text-align: center;
    margin: 5px;
}
.product-img {
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: 180px;
    line-height: 270px;
}
.product { 
    position: relative;
    border: 1px solid #fff;
    width: 270px;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
}
.bth {
    background-color: #2c71b8;
    color: #fff;
    border:1px solid #fff;
    text-align: center;
    width: 210px;
    height: 50px;
    position: relative;
    margin: 0 0 15px 0;
    left: 29px;
    top: 0;
    right: 0;
}
.bth:hover {
    background-color: #568dc6;
    border: none;
    
}
/* filter */
.filter__color{
 padding: 30px 5px 30px 5px; 
 
}
.filter__ram{
    margin: 30px 0 30px 0; 
}
.filter__devicetipe{
    margin: 30px 0 30px 0; 
    
}
.filter h2 {
    font-size: 24px;
    color: #fff;
}
.checkbox label:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
}
.checkbox input[type="checkbox"]{
    display: none;
}
.checkbox input[type="checkbox"]:checked + label::before {
    background-color: #fff;
}
.checkbox {
    padding: 15px 10px 15px 30px;
}