*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(img/patt.png);
    /* background-repeat: no-repeat; */
    /* background-position: 10px 40px; */
}

h1{
    color: blueviolet;
    background-color: black;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after { 
    content: " ";
    display: block; 
    clear: both;
}

[class*="coll-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.coll-md-3{
    width: 25%;
}

.coll-md-6{
    width: 50%;
}

.header{
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo{
margin-top: 7px;
}

.menu li{
    width: 25%;
    float: left;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a{
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    font-size: 21px;
    color: #2c71b8;
}

.menu:hover{

}